.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# Potentially copyrighted icon packs - keep out of git
data/assets/*
!data/assets/.gitkeep
data_spiffs/assets/*
!data_spiffs/assets/.gitkeep
